body {
    font-family: "Roboto Mono", monospace;
    min-height: 600px;
    background-image: url("img/mente_background.jpg");
    background-color: #000000;
    background-size: cover;
    background-position: center bottom;
    background-repeat: no-repeat;
  }
  
  .container {
    text-align: center;
    padding: 20px;
    height: 100vh;
  }
  
  .page-title {
    color: #ffffff;
    margin: 0 0 5px;
    font-size: 5rem;
  }
  
  .page-subtitle {
    color: #ffffff;
    margin-top: 16px;
    font-size: 2rem;
  }
  
  .page-logo {
    width: 200px;
  }
  
  input {
    margin: 4px;
    padding: 6px;
    border-radius: 5px;
    width: 220px;
  }
  
  button {
    margin-top: 12px;
    padding: 4px 8px;
    border-radius: 10px;
    background: #ffffff;
  }
  
  .resultado {
    color: #000000;
    text-align: center;
    margin-top: 16px;
    background-color: #ffffff;
    border: 3px #000000 solid;
    width: fit-content;
    font-size: 24px;
    padding: 0.5rem;
  }

  .resultado2 {
    color: #000000;
    text-align: center;
    margin-top: 16px;
    background-color: #ffffff;
    border: 3px #000000 solid;
    width: fit-content;
    font-size: 24px;
    padding: 0.5rem;
  }
  
  @media screen and (max-width: 900px) {
    body {
      min-height: 800px;
    }

    .page-title {
      font-size: 3rem;
    }

    .page-subtitle {
      font-size: 1.5rem;
    }

    .resultado {
      font-size: 1rem;
    }

    .resultado2 {
      font-size: 1rem;
    }
  }
